<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}{% endblock %}</title>

    <!-- ico -->
    <link rel="shortcut icon" href="{{ url_for('blog.static', filename='images/favicon.ico')}}"/>
    <link rel="bookmark" href="{{ url_for('blog.static', filename='images/favicon.ico')}}"/>

    <!-- Bootstrap -->
    <link href="{{ url_for('blog.static', filename='bootstrap-3.3.7/css/bootstrap.css') }}" rel="stylesheet">

  </head>
  <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <p class="navbar-text"><a href="{{ url_for('blog.blog_list') }}">首页</a></p>
                <p class="navbar-text"><a href="{{ url_for('bio.bio') }}">blog</a></p>
                <p class="navbar-text"><a href="{{ url_for('bio.bio') }}">bio</a></p>
                <p class="navbar-text"><a href="{{ url_for('bio.bio') }}">关于</a></p>

            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>



  </body>
</html>